.row{

    text-align: center;
}
.card{
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color:#eee;
    cursor: pointer;
    padding: 5% 5% 5% 5%;
    margin: 2% 3% 2% 2%;
    box-sizing: border-box;
}
.card:hover{
  box-shadow: 0px 0px 0px 1px red;
  box-sizing: border-box;
  
}
.card.done{
    cursor: default;
}
.card.done:hover{
    cursor: default;
    box-shadow: none;
}
.red{

    background-color: red;
}
.sunflower{

    background-color: #FFC312;
}
.energos{

    background-color:#C4E538;
}
.bluemartin{

    background-color: #12CBC4;
}
.rose{

    background-color: #FDA7DF;
}
.barared{

    background-color:#ED4C67;
}
.green{

    background-color: green;
}
.blue{

    background-color: blue;
}
.blue-one{

    background-color: #A3CB38;
}
.purple{

    background-color:purple;
}
.tomato{

    background-color: tomato;
}
.wheat{

    background-color: wheat;
}
.navy-blue{
    background-color: #182C61;
}
.color-hidden{
    background-color: #eeeeee;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      

}